<a href="https://colab.research.google.com/github/chingyaousf/Intern-project-2023/blob/main/scripts/intern_06_correlation_extract.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
# Combine 2 split files to correlation_table, file size too big, not enough memory to run it, correlation_table 1.76G

import pandas as pd

# Read the two CSV files into separate DataFrames
part1_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/correlation_table_part1.csv')
part2_df = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/correlation_table_part2.csv')

# Concatenate the two DataFrames vertically
correlation_table = pd.concat([part1_df, part2_df])

# Reset the index of the correlation_table DataFrame
correlation_table = correlation_table.reset_index(drop=True)

# Print the correlation_table DataFrame
correlation_table

In [ ]:
# correlation_table_02 1.08G (partial of correlation_table 1.76G)

import pandas as pd

# Read the CSV file into a DataFrame
correlation_table_02 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/correlation_table_02.csv', index_col=0)

# Print the correlation_table_test DataFrame
#correlation_table_02

# Display the correlation_table_02 DataFrame
display(correlation_table_02)

# Calculate the value range for the entire dataset
min_value = correlation_table_02.min().min()
max_value = correlation_table_02.max().max()

# Calculate the diagonal values range
diagonal_values = correlation_table_02.values.diagonal()
diagonal_min = diagonal_values.min()
diagonal_max = diagonal_values.max()

# Display the value range for the entire dataset and the diagonal values range
print("Value Range (Entire Dataset): ", min_value, " to ", max_value)
print("Value Range (Diagonal): ", diagonal_min, " to ", diagonal_max)

,A1BG (1) Dep,A1CF (29974) Dep,A2M (2) Dep,A2ML1 (144568) Dep,A3GALT2 (127550) Dep,A4GALT (53947) Dep,A4GNT (51146) Dep,AAAS (8086) Dep,AACS (65985) Dep,AADAC (13) Dep,...,ZWILCH (55055) Dep,ZWINT (11130) Dep,ZXDA (7789) Dep,ZXDB (158586) Dep,ZXDC (79364) Dep,ZYG11A (440590) Dep,ZYG11B (79699) Dep,ZYX (7791) Dep,ZZEF1 (23140) Dep,ZZZ3 (26009) Dep
DepMap_ID,,,,,,,,,,,,,,,,,,,,,
A1BG (1) Exp,0.028,-0.029,0.032,0.012,-0.013,-0.003,-0.007,0.013,0.030,0.032,...,-0.025,-0.080,0.022,0.104,-0.032,-0.002,-0.046,0.051,0.056,0.012
A1CF (29974) Exp,-0.033,0.004,-0.003,-0.051,-0.011,0.037,-0.034,0.029,-0.069,-0.024,...,-0.013,0.015,-0.032,0.021,-0.003,0.001,-0.003,-0.009,0.030,0.046
A2M (2) Exp,-0.049,-0.098,-0.007,-0.098,-0.017,-0.048,-0.030,-0.006,0.088,-0.014,...,-0.071,-0.075,0.028,0.045,-0.010,0.037,-0.047,-0.004,-0.023,-0.002
A2ML1 (144568) Exp,-0.030,0.094,0.059,0.013,-0.018,0.013,-0.033,-0.094,-0.081,-0.030,...,-0.090,0.074,-0.034,0.004,0.038,-0.036,0.047,-0.201,-0.103,-0.010
A3GALT2 (127550) Exp,-0.022,-0.008,0.022,-0.034,0.025,0.027,0.027,0.081,0.033,-0.013,...,-0.040,-0.031,0.084,0.078,0.011,0.079,0.104,0.016,0.015,0.039
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
PDK2 (5164) Exp,0.017,-0.031,-0.043,0.006,0.086,0.100,-0.029,0.115,0.020,-0.017,...,-0.070,-0.109,0.017,0.065,0.014,0.004,0.066,0.106,0.031,-0.006
PDK3 (5165) Exp,-0.030,0.039,0.015,-0.014,-0.049,-0.035,-0.043,0.010,-0.010,0.016,...,-0.051,0.022,-0.041,-0.005,0.021,0.019,-0.049,-0.007,-0.013,-0.092
PDK4 (5166) Exp,-0.041,-0.004,0.040,-0.019,0.054,-0.007,-0.022,0.043,0.023,-0.004,...,-0.077,-0.055,0.089,0.080,0.027,0.038,0.029,0.086,0.011,0.068
PDLIM1 (9124) Exp,0.006,0.017,-0.029,-0.041,0.042,-0.044,-0.022,-0.040,-0.094,-0.033,...,-0.004,0.090,-0.041,-0.040,-0.002,0.002,0.058,-0.070,-0.072,0.066
PDLIM2 (64236) Exp,0.071,-0.051,-0.000,-0.003,0.060,-0.015,0.092,0.124,0.165,-0.017,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

Value Range (Entire Dataset):  -0.75  to  0.62
Value Range (Diagonal):  -0.497  to  0.615

In [ ]:
# Gernerate correlation_table_test for testing the codes following

import pandas as pd

# Read the CSV file into a DataFrame
correlation_table = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/correlation_table_02.csv', index_col=0)

# Select the subset of rows and columns
correlation_table_test = correlation_table.iloc[:1000, :1000]

# Save the correlation_table_test DataFrame to a CSV file
correlation_table_test.to_csv('/content/drive/MyDrive/Colab Notebooks/correlation_table_test.csv', index=True)

# Print the correlation_table_test DataFrame
correlation_table_test

,A1BG (1) Dep,A1CF (29974) Dep,A2M (2) Dep,A2ML1 (144568) Dep,A3GALT2 (127550) Dep,A4GALT (53947) Dep,A4GNT (51146) Dep,AAAS (8086) Dep,AACS (65985) Dep,AADAC (13) Dep,...,ARMC3 (219681) Dep,ARMC5 (79798) Dep,ARMC6 (93436) Dep,ARMC7 (79637) Dep,ARMC8 (25852) Dep,ARMC9 (80210) Dep,ARMCX1 (51309) Dep,ARMCX2 (9823) Dep,ARMCX3 (51566) Dep,ARMCX4 (100131755) Dep
DepMap_ID,,,,,,,,,,,,,,,,,,,,,
A1BG (1) Exp,0.028,-0.029,0.032,0.012,-0.013,-0.003,-0.007,0.013,0.030,0.032,...,0.007,0.058,0.014,0.139,0.033,-0.068,0.024,-0.013,0.011,-0.030
A1CF (29974) Exp,-0.033,0.004,-0.003,-0.051,-0.011,0.037,-0.034,0.029,-0.069,-0.024,...,0.071,0.049,0.039,-0.067,0.009,0.079,0.089,-0.041,-0.003,0.038
A2M (2) Exp,-0.049,-0.098,-0.007,-0.098,-0.017,-0.048,-0.030,-0.006,0.088,-0.014,...,-0.070,0.011,0.031,0.061,0.022,-0.079,0.010,-0.005,-0.026,0.007
A2ML1 (144568) Exp,-0.030,0.094,0.059,0.013,-0.018,0.013,-0.033,-0.094,-0.081,-0.030,...,-0.031,-0.042,-0.009,0.002,-0.028,0.018,-0.037,0.054,0.046,0.033
A3GALT2 (127550) Exp,-0.022,-0.008,0.022,-0.034,0.025,0.027,0.027,0.081,0.033,-0.013,...,0.024,0.012,0.022,-0.040,0.069,0.015,0.011,-0.004,0.046,0.028
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ARMC9 (80210) Exp,0.033,0.003,-0.008,-0.011,0.058,0.029,0.056,0.069,0.183,-0.011,...,0.006,0.213,0.082,0.033,0.006,-0.030,0.049,-0.011,-0.061,0.007
ARMCX1 (51309) Exp,-0.009,-0.088,0.010,-0.078,0.030,0.013,0.065,0.067,0.132,0.029,...,-0.022,0.154,0.020,0.057,0.030,-0.006,0.005,0.014,0.011,-0.009
ARMCX2 (9823) Exp,-0.002,-0.095,0.012,-0.011,0.049,0.036,0.037,0.091,0.095,0.037,...,0.005,0.097,0.046,0.001,-0.000,0.022,0.081,-0.047,0.008,-0.029
ARMCX3 (51566) Exp,-0.011,-0.040,0.012,-0.030,0.005,0.036,0.039,0.096,0.102,0.037,...,0.018,0.077,0.009,-0.003,0.003,0.013,-0.003,-0.030,-0.010,-0.005
ARMCX4 (100131755) Exp,0.044,-0.046,0.017,0.012,0.037,0.054,0.021,0.064,0.047,0.047,...,-0.027,0.025,0.014,-0.013,0.025,0.012,0.020,-0.012,0.023,-0.058

In [ ]:
import pandas as pd

# Read the CSV file into a DataFrame
correlation_table_test= pd.read_csv('/content/drive/MyDrive/Colab Notebooks/correlation_table_test.csv', index_col=0)

# Print the correlation_table_test DataFrame
correlation_table_test

,A1BG (1) Dep,A1CF (29974) Dep,A2M (2) Dep,A2ML1 (144568) Dep,A3GALT2 (127550) Dep,A4GALT (53947) Dep,A4GNT (51146) Dep,AAAS (8086) Dep,AACS (65985) Dep,AADAC (13) Dep,...,ARMC3 (219681) Dep,ARMC5 (79798) Dep,ARMC6 (93436) Dep,ARMC7 (79637) Dep,ARMC8 (25852) Dep,ARMC9 (80210) Dep,ARMCX1 (51309) Dep,ARMCX2 (9823) Dep,ARMCX3 (51566) Dep,ARMCX4 (100131755) Dep
DepMap_ID,,,,,,,,,,,,,,,,,,,,,
A1BG (1) Exp,0.028,-0.029,0.032,0.012,-0.013,-0.003,-0.007,0.013,0.030,0.032,...,0.007,0.058,0.014,0.139,0.033,-0.068,0.024,-0.013,0.011,-0.030
A1CF (29974) Exp,-0.033,0.004,-0.003,-0.051,-0.011,0.037,-0.034,0.029,-0.069,-0.024,...,0.071,0.049,0.039,-0.067,0.009,0.079,0.089,-0.041,-0.003,0.038
A2M (2) Exp,-0.049,-0.098,-0.007,-0.098,-0.017,-0.048,-0.030,-0.006,0.088,-0.014,...,-0.070,0.011,0.031,0.061,0.022,-0.079,0.010,-0.005,-0.026,0.007
A2ML1 (144568) Exp,-0.030,0.094,0.059,0.013,-0.018,0.013,-0.033,-0.094,-0.081,-0.030,...,-0.031,-0.042,-0.009,0.002,-0.028,0.018,-0.037,0.054,0.046,0.033
A3GALT2 (127550) Exp,-0.022,-0.008,0.022,-0.034,0.025,0.027,0.027,0.081,0.033,-0.013,...,0.024,0.012,0.022,-0.040,0.069,0.015,0.011,-0.004,0.046,0.028
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ARMC9 (80210) Exp,0.033,0.003,-0.008,-0.011,0.058,0.029,0.056,0.069,0.183,-0.011,...,0.006,0.213,0.082,0.033,0.006,-0.030,0.049,-0.011,-0.061,0.007
ARMCX1 (51309) Exp,-0.009,-0.088,0.010,-0.078,0.030,0.013,0.065,0.067,0.132,0.029,...,-0.022,0.154,0.020,0.057,0.030,-0.006,0.005,0.014,0.011,-0.009
ARMCX2 (9823) Exp,-0.002,-0.095,0.012,-0.011,0.049,0.036,0.037,0.091,0.095,0.037,...,0.005,0.097,0.046,0.001,-0.000,0.022,0.081,-0.047,0.008,-0.029
ARMCX3 (51566) Exp,-0.011,-0.040,0.012,-0.030,0.005,0.036,0.039,0.096,0.102,0.037,...,0.018,0.077,0.009,-0.003,0.003,0.013,-0.003,-0.030,-0.010,-0.005
ARMCX4 (100131755) Exp,0.044,-0.046,0.017,0.012,0.037,0.054,0.021,0.064,0.047,0.047,...,-0.027,0.025,0.014,-0.013,0.025,0.012,0.020,-0.012,0.023,-0.058

In [ ]:
# Generate very small file (correlation_table_test_small) for checking diagonal values

import pandas as pd

# Read the CSV file into a DataFrame
correlation_table = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/correlation_table_test.csv', index_col=0)

# Select the subset of rows and columns
correlation_table_test_small = correlation_table.iloc[:5, :5]

# Save the correlation_table_test_small DataFrame to a CSV file
correlation_table_test_small.to_csv('/content/drive/MyDrive/Colab Notebooks/correlation_table_test_small.csv',index=True)

# Print the correlation_table_test_small DataFrame
correlation_table_test_small

,A1BG (1) Dep,A1CF (29974) Dep,A2M (2) Dep,A2ML1 (144568) Dep,A3GALT2 (127550) Dep
DepMap_ID,,,,,
A1BG (1) Exp,0.028,-0.029,0.032,0.012,-0.013
A1CF (29974) Exp,-0.033,0.004,-0.003,-0.051,-0.011
A2M (2) Exp,-0.049,-0.098,-0.007,-0.098,-0.017
A2ML1 (144568) Exp,-0.030,0.094,0.059,0.013,-0.018
A3GALT2 (127550) Exp,-0.022,-0.008,0.022,-0.034,0.025

In [ ]:
import pandas as pd
import numpy as np

# Read the CSV file into a DataFrame
correlation_tabl_samll = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/correlation_table_test_small.csv')

correlation_table_test_small

,A1BG (1) Dep,A1CF (29974) Dep,A2M (2) Dep,A2ML1 (144568) Dep,A3GALT2 (127550) Dep
DepMap_ID,,,,,
A1BG (1) Exp,0.028,-0.029,0.032,0.012,-0.013
A1CF (29974) Exp,-0.033,0.004,-0.003,-0.051,-0.011
A2M (2) Exp,-0.049,-0.098,-0.007,-0.098,-0.017
A2ML1 (144568) Exp,-0.030,0.094,0.059,0.013,-0.018
A3GALT2 (127550) Exp,-0.022,-0.008,0.022,-0.034,0.025

In [ ]:
# Checking diagonal values whether match the values of correlation_table_test_small

import pandas as pd
import numpy as np

# Read the CSV file into a DataFrame
correlation_table= pd.read_csv('/content/drive/MyDrive/Colab Notebooks/correlation_table_test_small.csv', index_col=0)

# Get the diagonal values
diagonal_values = np.diag(correlation_table.values)

# Print the diagonal values
print(diagonal_values)

[ 0.028  0.004 -0.007  0.013  0.025]

In [ ]:
import pandas as pd
import numpy as np

# Read the CSV file into a DataFrame
correlation_table = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/correlation_table_test_small.csv', index_col=0)

# Get the diagonal values
diagonal_values = np.diag(correlation_table.values)

# Create a boolean mask for diagonal values bigger than 0
mask = diagonal_values > 0

# Select rows and columns based on the mask
correlation_table_test_small_diavalues_gt_0 = correlation_table.iloc[mask, mask]

# Print the new dataset
correlation_table_test_small_diavalues_gt_0

,A1BG (1) Dep,A1CF (29974) Dep,A2ML1 (144568) Dep,A3GALT2 (127550) Dep
DepMap_ID,,,,
A1BG (1) Exp,0.028,-0.029,0.012,-0.013
A1CF (29974) Exp,-0.033,0.004,-0.051,-0.011
A2ML1 (144568) Exp,-0.030,0.094,0.013,-0.018
A3GALT2 (127550) Exp,-0.022,-0.008,-0.034,0.025

In [ ]:
# To extract the diagonal values bigger than 0.1 and create a new dataset preserving the rows and columns with diagonal values bigger than 0.1

import pandas as pd
import numpy as np

# Read the CSV file into a DataFrame
correlation_table = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/correlation_table_test.csv', index_col=0)

# Get the diagonal values
diagonal_values = np.diag(correlation_table.values)

# Create a boolean mask for diagonal values bigger than 0.1
mask = diagonal_values > 0.1

# Select rows and columns based on the mask
correlation_table_test_diavalues_gt_0 = correlation_table.iloc[mask, mask]

# Save the new dataset to a CSV file in the same directory
correlation_table_test_diavalues_gt_0.to_csv('/content/drive/MyDrive/Colab Notebooks/correlation_table_test_diavalues_gt_0.csv')

# Print the new dataset
correlation_table_test_diavalues_gt_0

,AAK1 (22848) Dep,ABCA4 (24) Dep,ABCB6 (10058) Dep,ABCD3 (5825) Dep,ABI2 (10152) Dep,ABLIM2 (84448) Dep,ACAD8 (27034) Dep,ACAP3 (116983) Dep,ACER3 (55331) Dep,ACO1 (48) Dep,...,ARHGAP32 (9743) Dep,ARHGAP45 (23526) Dep,ARHGEF11 (9826) Dep,ARHGEF28 (64283) Dep,ARHGEF3 (50650) Dep,ARID1A (8289) Dep,ARID1B (57492) Dep,ARID5B (84159) Dep,ARL4C (10123) Dep,ARL4D (379) Dep
DepMap_ID,,,,,,,,,,,,,,,,,,,,,
AAK1 (22848) Exp,0.120,0.099,0.046,0.119,0.004,-0.002,0.017,0.020,0.028,0.107,...,0.001,-0.077,0.083,0.036,0.051,0.052,-0.004,0.028,0.127,0.085
ABCA4 (24) Exp,0.151,0.178,-0.008,0.120,0.005,0.058,0.008,0.035,0.007,0.112,...,0.029,-0.105,0.032,0.022,0.082,-0.089,0.016,0.050,-0.006,0.062
ABCB6 (10058) Exp,0.099,0.023,0.147,0.013,0.093,0.001,-0.011,0.020,-0.001,0.043,...,0.020,-0.072,0.081,0.052,-0.009,-0.044,0.070,0.018,0.100,0.121
ABCD3 (5825) Exp,0.107,0.142,0.029,0.123,-0.025,0.004,-0.017,0.052,-0.013,0.093,...,-0.016,-0.096,0.045,0.111,0.070,-0.079,0.032,0.005,0.060,0.104
ABI2 (10152) Exp,0.011,-0.026,0.074,0.032,0.129,0.041,0.096,0.039,0.001,0.091,...,-0.016,-0.027,0.103,0.095,0.057,-0.055,0.130,-0.077,0.111,0.092
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ARID1A (8289) Exp,-0.116,-0.158,-0.012,-0.091,0.005,-0.044,-0.006,0.091,-0.013,-0.058,...,-0.022,0.130,-0.026,-0.003,-0.003,0.112,0.038,-0.125,-0.114,0.042
ARID1B (57492) Exp,-0.082,-0.113,0.024,-0.076,0.014,0.004,0.030,0.084,-0.010,-0.034,...,-0.023,0.133,0.001,0.030,0.000,-0.048,0.179,-0.098,-0.036,0.058
ARID5B (84159) Exp,0.136,0.028,0.026,0.028,0.002,0.033,0.010,0.054,-0.033,0.039,...,0.024,-0.084,0.009,0.059,-0.008,0.047,-0.013,0.162,0.077,0.051
ARL4C (10123) Exp,0.124,0.147,0.057,0.147,0.078,0.077,0.060,0.008,0.050,0.100,...,0.030,-0.118,0.018,0.043,0.059,-0.040,0.010,0.068,0.315,0.032
ARL4D (379) Exp,0.152,0.225,-0.041,0.110,-0.012,0.068,0.023,-0.033,0.022,0.070,...,0.043,-0.108,0.136,0.022,0.077,-0.032,-0.007,0.029,0.073,0.126

In [ ]:
# Extract the column A1BG (1) Dep "Dep" values bigger than 0.1 and create a new dataset preserving the rows and columns with values bigger than 0.1

import pandas as pd

# Read the CSV file into a DataFrame
correlation_table = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/correlation_table_test.csv', index_col=0)

# Extract the column A1BG (1) Dep "Dep" values bigger than 0.1
column_values_gt_0_1 = correlation_table.loc[correlation_table['A1BG (1) Dep'] > 0.1]

# Save the new dataset to a CSV file
# column_values_gt_0_1.to_csv('/content/drive/MyDrive/Colab Notebooks/correlation_table_A1BG_gt_01.csv', index=False)

# Print the new dataset
column_values_gt_0_1

,A1BG (1) Dep,A1CF (29974) Dep,A2M (2) Dep,A2ML1 (144568) Dep,A3GALT2 (127550) Dep,A4GALT (53947) Dep,A4GNT (51146) Dep,AAAS (8086) Dep,AACS (65985) Dep,AADAC (13) Dep,...,ARMC3 (219681) Dep,ARMC5 (79798) Dep,ARMC6 (93436) Dep,ARMC7 (79637) Dep,ARMC8 (25852) Dep,ARMC9 (80210) Dep,ARMCX1 (51309) Dep,ARMCX2 (9823) Dep,ARMCX3 (51566) Dep,ARMCX4 (100131755) Dep
DepMap_ID,,,,,,,,,,,,,,,,,,,,,
ABCA3 (21) Exp,0.107,0.065,-0.006,0.118,0.002,0.036,-0.005,0.003,-0.007,0.011,...,0.147,0.066,0.025,-0.018,0.011,-0.002,0.029,-0.023,0.048,0.010
ADAMTS7 (11173) Exp,0.106,0.008,0.059,0.087,0.063,0.023,0.038,0.149,0.130,-0.007,...,0.034,0.136,0.104,0.058,0.036,-0.012,0.039,0.027,0.024,0.030
AKIP1 (56672) Exp,0.122,-0.019,0.029,-0.019,0.059,-0.006,0.076,0.124,0.096,-0.003,...,0.043,0.124,0.082,-0.038,0.013,0.043,0.104,0.006,0.029,0.059
AP2A2 (161) Exp,0.112,-0.020,0.048,0.030,0.007,0.053,0.061,0.094,0.040,-0.002,...,0.069,0.060,0.086,0.047,0.016,0.034,0.084,0.014,0.005,0.027
ARL8A (127829) Exp,0.112,-0.047,0.013,-0.011,-0.005,0.026,0.005,0.047,0.040,-0.052,...,0.029,0.030,0.033,0.022,0.016,0.034,0.062,0.011,0.019,0.032

In [ ]:
#Extract the column A1BG (1) Dep "Dep" values bigger than 0.1 and create a new dataset preserving ONLY DepMap_ID column with values bigger than 0.1

import pandas as pd

# Read the CSV file into a DataFrame
correlation_table = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/correlation_table_test.csv', index_col=0)

# Extract the "A1BG (1) Dep" column values bigger than 0.1
column_a1bg_gt_0_1 = correlation_table.loc[correlation_table['A1BG (1) Dep'] > 0.1]

# Reset the index
column_a1bg_gt_0_1.reset_index(inplace=True)

# Extract the "DepMap_ID" column from the filtered data
column_depmap_id = column_a1bg_gt_0_1[['DepMap_ID']]

# Save the "DepMap_ID" column to a CSV file
column_depmap_id.to_csv('/content/drive/MyDrive/Colab Notebooks/correlation_table_filter_all/correlation_table_A1BG_gt_01.csv', index=False)

# Print the "DepMap_ID" column
column_depmap_id

             DepMap_ID
0       ABCA3 (21) Exp
1  ADAMTS7 (11173) Exp
2    AKIP1 (56672) Exp
3      AP2A2 (161) Exp
4   ARL8A (127829) Exp

In [ ]:
# To extract ALL values bigger than 0.1 and create a new dataset preserving the rows and columns with values bigger than 0.1

import pandas as pd

# Read the CSV file into a DataFrame
correlation_table = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/correlation_table_02.csv', index_col=0)

# Extract the column EIF2AK3 (9451) "Dep" values bigger than 0.1
column_values_gt_0_1 = correlation_table.loc[correlation_table['MYC (4609) Dep'] > 0.2]

# Save the new dataset to a CSV file
# column_values_gt_0_1.to_csv('/content/drive/MyDrive/Colab Notebooks/correlation_table_filter_all/correlation_table_MYC_gt_01.csv', index=False)

# Print the new dataset
column_values_gt_0_1

,A1BG (1) Dep,A1CF (29974) Dep,A2M (2) Dep,A2ML1 (144568) Dep,A3GALT2 (127550) Dep,A4GALT (53947) Dep,A4GNT (51146) Dep,AAAS (8086) Dep,AACS (65985) Dep,AADAC (13) Dep,...,ZWILCH (55055) Dep,ZWINT (11130) Dep,ZXDA (7789) Dep,ZXDB (158586) Dep,ZXDC (79364) Dep,ZYG11A (440590) Dep,ZYG11B (79699) Dep,ZYX (7791) Dep,ZZEF1 (23140) Dep,ZZZ3 (26009) Dep
DepMap_ID,,,,,,,,,,,,,,,,,,,,,
ADAT2 (134637) Exp,-0.001,0.054,0.036,0.047,-0.097,0.014,-0.082,-0.044,-0.117,0.039,...,-0.026,-0.063,-0.086,-0.002,-0.045,-0.031,-0.107,-0.135,-0.002,-0.043
ADGRE2 (30817) Exp,-0.039,0.094,0.063,0.009,-0.045,-0.030,-0.036,-0.083,-0.020,0.019,...,-0.040,0.099,-0.026,0.044,0.037,-0.044,-0.017,-0.135,-0.073,-0.056
ARHGAP27 (201176) Exp,-0.011,0.071,0.012,0.072,0.005,-0.032,-0.080,-0.045,-0.169,-0.004,...,-0.029,0.042,-0.077,-0.024,0.003,-0.074,-0.103,-0.143,-0.109,0.001
CHCHD7 (79145) Exp,-0.053,-0.028,0.030,0.038,-0.048,0.015,-0.047,0.025,-0.088,0.043,...,-0.006,0.009,-0.020,-0.013,0.077,-0.095,-0.106,-0.079,-0.042,0.027
DEF6 (50619) Exp,-0.034,0.054,0.038,0.034,-0.028,-0.034,-0.064,-0.043,-0.142,0.029,...,-0.011,0.104,-0.123,-0.055,-0.025,-0.101,-0.131,-0.208,-0.094,-0.056
EIF3H (8667) Exp,0.035,-0.069,0.040,0.060,-0.025,0.038,-0.049,-0.058,-0.038,0.026,...,0.022,-0.055,-0.024,-0.014,-0.017,-0.049,-0.013,-0.086,-0.030,-0.029
FABP5 (2171) Exp,-0.084,-0.023,0.005,0.028,-0.078,-0.035,-0.021,-0.049,-0.075,0.068,...,0.045,0.030,-0.031,-0.073,0.014,-0.080,-0.089,-0.154,-0.036,-0.063
FGD3 (89846) Exp,-0.002,0.063,0.005,0.056,-0.063,0.016,-0.082,-0.104,-0.159,0.042,...,0.009,0.092,-0.116,-0.136,0.023,-0.065,-0.081,-0.230,-0.074,-0.039
IL9R (3581) Exp,-0.048,0.011,-0.038,0.072,-0.055,-0.006,-0.082,-0.032,-0.146,0.025,...,-0.045,0.037,-0.094,-0.041,-0.029,-0.071,-0.138,-0.190,-0.067,-0.044
MYC (4609) Exp,-0.021,0.021,0.008,0.038,-0.052,-0.062,-0.052,-0.083,-0.139,0.072,...,0.011,0.013,-0.055,-0.036,-0.004,-0.086,-0.124,-0.160,-0.045,-0.102
NBEAL2 (23218) Exp,-0.009,0.042,0.016,0.129,-0.090,0.007,-0.106,-0.075,-0.161,0.007,...,-0.004,0.033,-0.106,-0.066,-0.031,-0.084,-0.111,-0.158,-0.058,-0.042
PABPC1 (26986) Exp,0.021,-0.016,0.010,0.062,-0.041,0.020,-0.024,-0.096,-0.043,0.088,...,0.056,-0.071,-0.028,-0.047,-0.028,-0.067,-0.025,-0.083,-0.019,-0.068

In [ ]:
# To extract MYC (4609) Dep bigger than 0.1 and create a new dataset preserving the rows and columns with values bigger than 0.1

import pandas as pd

# Read the CSV file into a DataFrame
correlation_table = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/correlation_table_02.csv', index_col=0)

# Extract the column MYC (4609) "Dep" values bigger than 0.1
column_values_gt_0_1 = correlation_table.loc[correlation_table['MYC (4609) Dep'] > 0.2]

# Save the new dataset to a CSV file
# column_values_gt_0_1.to_csv('/content/drive/MyDrive/Colab Notebooks/correlation_table_filter_all/correlation_table_MYC_gt_01.csv', index=False)

# Print the new dataset
column_values_gt_0_1

,A1BG (1) Dep,A1CF (29974) Dep,A2M (2) Dep,A2ML1 (144568) Dep,A3GALT2 (127550) Dep,A4GALT (53947) Dep,A4GNT (51146) Dep,AAAS (8086) Dep,AACS (65985) Dep,AADAC (13) Dep,...,ZWILCH (55055) Dep,ZWINT (11130) Dep,ZXDA (7789) Dep,ZXDB (158586) Dep,ZXDC (79364) Dep,ZYG11A (440590) Dep,ZYG11B (79699) Dep,ZYX (7791) Dep,ZZEF1 (23140) Dep,ZZZ3 (26009) Dep
DepMap_ID,,,,,,,,,,,,,,,,,,,,,
ADAT2 (134637) Exp,-0.001,0.054,0.036,0.047,-0.097,0.014,-0.082,-0.044,-0.117,0.039,...,-0.026,-0.063,-0.086,-0.002,-0.045,-0.031,-0.107,-0.135,-0.002,-0.043
ADGRE2 (30817) Exp,-0.039,0.094,0.063,0.009,-0.045,-0.030,-0.036,-0.083,-0.020,0.019,...,-0.040,0.099,-0.026,0.044,0.037,-0.044,-0.017,-0.135,-0.073,-0.056
ARHGAP27 (201176) Exp,-0.011,0.071,0.012,0.072,0.005,-0.032,-0.080,-0.045,-0.169,-0.004,...,-0.029,0.042,-0.077,-0.024,0.003,-0.074,-0.103,-0.143,-0.109,0.001
CHCHD7 (79145) Exp,-0.053,-0.028,0.030,0.038,-0.048,0.015,-0.047,0.025,-0.088,0.043,...,-0.006,0.009,-0.020,-0.013,0.077,-0.095,-0.106,-0.079,-0.042,0.027
DEF6 (50619) Exp,-0.034,0.054,0.038,0.034,-0.028,-0.034,-0.064,-0.043,-0.142,0.029,...,-0.011,0.104,-0.123,-0.055,-0.025,-0.101,-0.131,-0.208,-0.094,-0.056
EIF3H (8667) Exp,0.035,-0.069,0.040,0.060,-0.025,0.038,-0.049,-0.058,-0.038,0.026,...,0.022,-0.055,-0.024,-0.014,-0.017,-0.049,-0.013,-0.086,-0.030,-0.029
FABP5 (2171) Exp,-0.084,-0.023,0.005,0.028,-0.078,-0.035,-0.021,-0.049,-0.075,0.068,...,0.045,0.030,-0.031,-0.073,0.014,-0.080,-0.089,-0.154,-0.036,-0.063
FGD3 (89846) Exp,-0.002,0.063,0.005,0.056,-0.063,0.016,-0.082,-0.104,-0.159,0.042,...,0.009,0.092,-0.116,-0.136,0.023,-0.065,-0.081,-0.230,-0.074,-0.039
IL9R (3581) Exp,-0.048,0.011,-0.038,0.072,-0.055,-0.006,-0.082,-0.032,-0.146,0.025,...,-0.045,0.037,-0.094,-0.041,-0.029,-0.071,-0.138,-0.190,-0.067,-0.044
MYC (4609) Exp,-0.021,0.021,0.008,0.038,-0.052,-0.062,-0.052,-0.083,-0.139,0.072,...,0.011,0.013,-0.055,-0.036,-0.004,-0.086,-0.124,-0.160,-0.045,-0.102
NBEAL2 (23218) Exp,-0.009,0.042,0.016,0.129,-0.090,0.007,-0.106,-0.075,-0.161,0.007,...,-0.004,0.033,-0.106,-0.066,-0.031,-0.084,-0.111,-0.158,-0.058,-0.042
PABPC1 (26986) Exp,0.021,-0.016,0.010,0.062,-0.041,0.020,-0.024,-0.096,-0.043,0.088,...,0.056,-0.071,-0.028,-0.047,-0.028,-0.067,-0.025,-0.083,-0.019,-0.068

In [ ]:
# To extract ALL values bigger than 0.1 and create a new dataset preserving the rows and columns with values bigger than 0.1 for each interest columns EIF2AK3 (9451) Dep', 'MYC (4609) Dep', 'NQO1 (1728) Dep', 'SF3B1 (23451) Dep', 'SQSTM1 (8878) Dep

import pandas as pd
from IPython.display import display

# Read the CSV file into a DataFrame
correlation_table = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/correlation_table_02.csv', index_col=0)

# Define the columns you want to extract
columns_to_extract = ['EIF2AK3 (9451) Dep', 'MYC (4609) Dep', 'NQO1 (1728) Dep', 'SF3B1 (23451) Dep', 'SQSTM1 (8878) Dep']

# Create a dictionary to store the extracted datasets
extracted_datasets = {}

# Iterate over each column and save them separately
for column_name in columns_to_extract:
    # Extract the column values bigger than 0.1
    column_values_gt_0_1 = correlation_table.loc[correlation_table[column_name] > 0.1]

    # Save the column values to a CSV file
    file_name = f'/content/drive/MyDrive/Colab Notebooks/correlation_table_filter_all/{column_name.replace(" ", "_")}_gt_01.csv'
    column_values_gt_0_1.to_csv(file_name, index=False)

    # Store the extracted dataset in the dictionary
    extracted_datasets[column_name] = column_values_gt_0_1

    # Print the saved file name
    print(f"Saved column '{column_name}' to {file_name}")

# Display all the extracted datasets
for column_name, dataset in extracted_datasets.items():
    print(f"\nDataset for column '{column_name}':")
    display(dataset)

In [ ]:
## To extract ALL values bigger than 0.1 and create a new dataset ONLY preserving DepMap_ID columns with values bigger than 0.1 for each interest columns EIF2AK3 (9451) Dep', 'MYC (4609) Dep', 'NQO1 (1728) Dep', 'SF3B1 (23451) Dep', 'SQSTM1 (8878) Dep
# Running correlation_table_all_gt_01.sh extract from file correlation_table.csv 1.76 GB to produce 'EIF2AK3 (9451) Dep', 'MYC (4609) Dep', 'NQO1 (1728) Dep', 'SF3B1 (23451) Dep', 'SQSTM1 (8878) Dep_gt_01.csv

import pandas as pd
from IPython.display import display

# Read the CSV file into a DataFrame
correlation_table = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/correlation_table_02.csv', index_col=0)

# Define the columns you want to extract
columns_to_extract = ['EIF2AK3 (9451) Dep', 'MYC (4609) Dep', 'NQO1 (1728) Dep', 'SF3B1 (23451) Dep', 'SQSTM1 (8878) Dep']

# Create a dictionary to store the extracted datasets
extracted_datasets = {}

# Iterate over each column and save them separately
for column_name in columns_to_extract:
    # Extract the column values bigger than 0.1
    column_values_gt_0_1 = correlation_table.loc[correlation_table[column_name] > 0.1]

    # Reset the index
    column_values_gt_0_1.reset_index(inplace=True)

    # Extract the "DepMap_ID" column from the filtered data
    column_depmap_id = column_values_gt_0_1[['DepMap_ID']]

    # Save the "DepMap_ID" column to a CSV file
    file_name = f'/content/drive/MyDrive/Colab Notebooks/correlation_table_filter_all/{column_name.replace(" ", "_")}_correlation_table_02_gt_01.csv'
    column_depmap_id.to_csv(file_name, index=False)

    # Store the extracted dataset in the dictionary
    extracted_datasets[column_name] = column_depmap_id

    # Print the saved file name
    print(f"Saved 'DepMap_ID' column for '{column_name}' to {file_name}")

# Display all the extracted datasets
for column_name, dataset in extracted_datasets.items():
    print(f"\nDataset for 'DepMap_ID' column in '{column_name}':")
    display(dataset)

Saved 'DepMap_ID' column for 'EIF2AK3 (9451) Dep' to /content/drive/MyDrive/Colab Notebooks/correlation_table_filter_all/EIF2AK3_(9451)_Dep_correlation_table_02_gt_01.csv
Saved 'DepMap_ID' column for 'MYC (4609) Dep' to /content/drive/MyDrive/Colab Notebooks/correlation_table_filter_all/MYC_(4609)_Dep_correlation_table_02_gt_01.csv
Saved 'DepMap_ID' column for 'NQO1 (1728) Dep' to /content/drive/MyDrive/Colab Notebooks/correlation_table_filter_all/NQO1_(1728)_Dep_correlation_table_02_gt_01.csv
Saved 'DepMap_ID' column for 'SF3B1 (23451) Dep' to /content/drive/MyDrive/Colab Notebooks/correlation_table_filter_all/SF3B1_(23451)_Dep_correlation_table_02_gt_01.csv
Saved 'DepMap_ID' column for 'SQSTM1 (8878) Dep' to /content/drive/MyDrive/Colab Notebooks/correlation_table_filter_all/SQSTM1_(8878)_Dep_correlation_table_02_gt_01.csv

Dataset for 'DepMap_ID' column in 'EIF2AK3 (9451) Dep':

             DepMap_ID
0   ABCA12 (26154) Exp
1     ATG3 (64422) Exp
2     BCL2A1 (597) Exp
3      EGR3 (1960) Exp
4      FYB1 (2533) Exp
5     GFM1 (85476) Exp
6     HCLS1 (3059) Exp
7     KRR1 (11103) Exp
8    LAMB4 (22798) Exp
9    MCTP1 (79772) Exp
10   MON1B (22879) Exp
11    MREG (55686) Exp
12   NAA50 (80218) Exp
13     OPA1 (4976) Exp
14  P2RY12 (64805) Exp

Dataset for 'DepMap_ID' column in 'MYC (4609) Dep':

               DepMap_ID
0      ABCA7 (10347) Exp
1      ABCB11 (8647) Exp
2    ABHD14B (84836) Exp
3     ABHD3 (171586) Exp
4       ABI1 (10006) Exp
..                   ...
471    PARVB (29780) Exp
472   PATL2 (197135) Exp
473    PCF11 (51585) Exp
474    PCP2 (126006) Exp
475     PDE3B (5140) Exp

[476 rows x 1 columns]

Dataset for 'DepMap_ID' column in 'NQO1 (1728) Dep':

                DepMap_ID
0      ABCA10 (10349) Exp
1       AFAP1 (60312) Exp
2       AKIP1 (56672) Exp
3         ANXA1 (301) Exp
4   ARL14EPL (644100) Exp
5        ATG7 (10533) Exp
6     ATP6V1D (51382) Exp
7           AXL (558) Exp
8         BBX (56987) Exp
9         BIRC2 (329) Exp
10    C12orf4 (57102) Exp
11        CASP1 (834) Exp
12    CC2D1B (200014) Exp
13         CD44 (960) Exp
14       CPA4 (51200) Exp
15        CSF1 (1435) Exp
16        CSF3 (1440) Exp
17    CYB5D1 (124637) Exp
18      DNAJA1 (3301) Exp
19       DNER (92737) Exp
20       DUSP7 (1849) Exp
21        ETS1 (2113) Exp
22    FAM126A (84668) Exp
23          FAS (355) Exp
24    FBXO33 (254170) Exp
25        FGF2 (2247) Exp
26        FGF5 (2250) Exp
27      IGFBP6 (3489) Exp
28     IL12RB1 (3594) Exp
29        IL7R (3575) Exp
30     ITPRIP (85450) Exp
31  KIAA1549L (25758) Exp
32        LDHA (3939) Exp
33   MAP3K7CL (56911) Exp
34      MED31 (51003) Exp
35   MRGPRX3 (117195) Exp
36       MYPN (84665) Exp
37       NR3C1 (2908) Exp

Dataset for 'DepMap_ID' column in 'SF3B1 (23451) Dep':

              DepMap_ID
0     AARD (441376) Exp
1    ABCC12 (94160) Exp
2       ABCD1 (215) Exp
3    ABHD11 (83451) Exp
4        ACAN (176) Exp
..                  ...
151     OXTR (5021) Exp
152   P4HTM (54681) Exp
153    PCDH1 (5097) Exp
154  PCSK1N (27344) Exp
155    PDGFB (5155) Exp

[156 rows x 1 columns]

Dataset for 'DepMap_ID' column in 'SQSTM1 (8878) Dep':

                DepMap_ID
0       A4GNT (51146) Exp
1           AAMP (14) Exp
2     ABCA13 (154664) Exp
3      ABCB5 (340273) Exp
4       ABCB6 (10058) Exp
...                   ...
1370    PDGFRL (5157) Exp
1371     PDIA3 (2923) Exp
1372     PDIA4 (9601) Exp
1373      PDK4 (5166) Exp
1374   PDLIM2 (64236) Exp

[1375 rows x 1 columns]

In [ ]:
# To extract the diagonal values less than -0.1 and create a new dataset preserving the rows and columns with diagonal values less than -0.1

import pandas as pd
import numpy as np

# Read the CSV file into a DataFrame
correlation_table = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/correlation_table_test.csv', index_col=0)

# Get the diagonal values
diagonal_values = np.diag(correlation_table.values)

# Create a boolean mask for diagonal values less than -0.1
mask = diagonal_values < -0.1

# Select rows and columns based on the mask
correlation_table_test_diavalues_ls_01 = correlation_table.iloc[mask, mask]

# Save the new dataset to a CSV file in the same directory
# correlation_table_test_diavalues_ls_01.to_csv('/content/drive/MyDrive/Colab Notebooks/correlation_table_test_diavalues_ls_01.csv')

# Display the new dataset
display(correlation_table_test_diavalues_ls_01)

# Calculate the value range for the entire dataset
entire_min = correlation_table_test_diavalues_ls_01.min().min()
entire_max = correlation_table_test_diavalues_ls_01.max().max()

# Calculate the diagonal values range
diagonal_values = correlation_table_test_diavalues_ls_01.values.diagonal()
diagonal_min = diagonal_values.min()
diagonal_max = diagonal_values.max()

# Display the value range for the entire dataset and the diagonal values range
print("Value Range (Entire Dataset): ", entire_min, " to ", entire_max)
print("Value Range (Diagonal): ", diagonal_min, " to ", diagonal_max)

,ABCB7 (22) Dep,ABCC3 (8714) Dep,ABCE1 (6059) Dep,ABCF1 (23) Dep,ACD (65057) Dep,ADAMTS4 (9507) Dep,ADGRG1 (9289) Dep,ADGRL1 (22859) Dep,AEBP1 (165) Dep,AFAP1 (60312) Dep,...,AP2S1 (1175) Dep,APMAP (57136) Dep,ARAP2 (116984) Dep,ARCN1 (372) Dep,ARHGAP31 (57514) Dep,ARHGAP4 (393) Dep,ARHGDIB (397) Dep,ARHGEF7 (8874) Dep,ARL14 (80117) Dep,ARL15 (54622) Dep
DepMap_ID,,,,,,,,,,,,,,,,,,,,,
ABCB7 (22) Exp,-0.103,0.058,-0.041,-0.121,-0.028,-0.009,0.090,-0.033,-0.037,0.045,...,0.019,-0.038,0.015,-0.132,0.015,-0.047,0.053,-0.217,0.076,0.008
ABCC3 (8714) Exp,-0.107,-0.103,0.238,0.200,-0.141,0.007,-0.009,0.080,0.143,-0.130,...,-0.104,0.013,-0.167,0.143,-0.016,0.113,0.053,0.323,-0.180,0.072
ABCE1 (6059) Exp,0.070,0.055,-0.125,-0.058,0.093,-0.035,0.086,-0.109,-0.030,-0.011,...,-0.031,0.046,0.041,-0.069,-0.019,-0.069,0.043,-0.135,0.056,0.021
ABCF1 (23) Exp,0.007,0.111,-0.046,-0.182,0.023,-0.032,0.022,-0.038,0.004,0.009,...,0.020,-0.054,0.035,-0.044,-0.029,-0.039,-0.017,-0.218,0.096,0.001
ACD (65057) Exp,-0.017,0.065,0.048,0.040,-0.128,0.055,0.059,0.015,0.101,0.005,...,-0.011,-0.029,0.045,-0.025,0.005,-0.043,-0.034,-0.036,0.004,0.086
ADAMTS4 (9507) Exp,0.066,0.142,-0.097,-0.186,0.131,-0.119,-0.017,-0.076,-0.069,0.056,...,-0.015,-0.007,0.132,-0.066,-0.069,-0.082,-0.010,-0.268,0.147,-0.001
ADGRG1 (9289) Exp,-0.044,-0.070,0.117,0.094,-0.072,0.039,-0.135,0.039,0.052,-0.050,...,0.004,-0.005,-0.143,0.091,-0.000,0.043,0.017,0.296,-0.101,-0.000
ADGRL1 (22859) Exp,0.091,0.112,-0.088,-0.077,0.084,-0.044,0.081,-0.126,0.101,0.047,...,-0.117,0.060,0.086,-0.031,0.017,-0.062,0.068,-0.171,0.157,-0.053
AEBP1 (165) Exp,0.055,0.121,-0.097,-0.207,0.107,-0.103,-0.050,-0.021,-0.102,0.089,...,0.021,0.004,0.093,-0.093,-0.058,-0.102,-0.032,-0.258,0.114,-0.080
AFAP1 (60312) Exp,-0.057,-0.049,0.199,0.019,-0.091,-0.048,0.034,-0.021,0.046,-0.213,...,-0.184,0.018,-0.069,0.056,-0.091,0.076,0.057,0.211,-0.046,0.101
AGAP2 (116986) Exp,0.026,0.102,-0.165,-0.118,0.061,0.022,0.065,-0.037,-0.021,0.129,...,0.137,-0.003,0.149,-0.140,0.033,-0.094,-0.025,-0.315,0.124,-0.026
AJUBA (84962) Exp,-0.023,-0.132,0.246,0.189,-0.163,0.030,0.023,0.138,0.063,-0.117,...,-0.135,-0.032,-0.113,0.143,-0.019,0.080,0.026,0.431,-0.129,0.083
AK6 (102157402) Exp,-0.018,0.071,0.008,-0.006,0.085,-0.042,0.019,-0.015,-0.016,-0.011,...,-0.020,0.017,0.007,0.031,-0.040,-0.028,-0.024,-0.199,-0.006,0.046
AKT1S1 (84335) Exp,0.061,-0.064,0.089,0.083,-0.006,-0.029,-0.001,-0.072,0.103,-0.118,...,-0.172,-0.022,-0.017,0.129,-0.032,0.006,0.054,0.066,0.030,0.063
ALG11 (440138) Exp,0.070,0.096,-0.078,-0.030,0.103,-0.018,0.043,-0.076,0.037,0.040,...,0.033,0.016,-0.021,-0.048,-0.019,-0.004,0.016,-0.087,0.050,-0.045
ALG13 (79868) Exp,-0.118,0.008,0.066,-0.020,-0.052,-0.008,0.024,-0.033,0.000,-0.056,...,-0.007,0.023,-0.057,-0.017,-0.045,0.012,-0.000,-0.074,-0.048,0.026
ALG5 (29880) Exp,0.033,-0.009,-0.095,-0.029,0.059,0.031,-0.017,-0.090,-0.031,0.001,...,0.070,0.025,-0.091,-0.081,0.044,-0.021,0.034,-0.001,-0.007,-0.089
ALG6 (29929) Exp,-0.022,0.061,-0.037,-0.073,-0.009,0.006,-0.026,-0.074,-0.017,-0.003,...,0.013,0.015,0.014,-0.059,-0.019,-0.053,-0.005,-0.147,0.001,-0.006
ALKBH8 (91801) Exp,-0.002,0.044,-0.029,-0.034,0.001,0.031,0.086,-0.104,-0.004,-0.005,...,-0.011,0.006,-0.017,-0.143,-0.032,-0.045,-0.014,-0.119,-0.007,0.036
ALYREF (10189) Exp,0.055,0.081,-0.015,-0.052,0.054,0.024,0.083,0.013,0.061,0.047,...,0.013,-0.012,0.014,0.001,0.013,-0.095,-0.038,-0.199,0.031,0.038
AMDHD1 (144193) Exp,-0.036,0.023,0.052,0.029,-0.035,0.012,0.048,0.012,-0.088,-0.007,...,-0.043,-0.061,-0.057,0.009,-0.003,-0.042,-0.005,-0.070,-0.015,-0.031
AMOTL2 (51421) Exp,0.000,-0.104,0.242,0.135,-0.109,-0.015,0.017,0.090,0.090,-0.142,...,-0.208,-0.015,-0.134,0.151,-0.048,0.078,0.034,0.371,-0.082,0.098
ANKRD65 (441869) Exp,0.070,0.004,0.033,0.003,-0.098,-0.001,-0.060,0.063,0.048,0.027,...,-0.012,0.010,-0.040,-0.027,0.056,-0.024,0.001,0.170,-0.058,-0.049
ANO9 (338440) Exp,-0.071,-0.038,0.055,0.112,-0.150,0.049,0.048,0.136,0.142,0.080,...,0.178,0.027,-0.151,-0.004,0.095,0.035,-0.008,0.248,-0.156,0.013
ANXA11 (311) Exp,-0.070,-0.079,0.151,0.109,-0.108,0.003,-0.009,0.062,0.069,-0.059,...,0.045,0.011,-0.183,0.063,0.002,0.085,0.019,0.267,-0.156,0.046
AP2M1 (1173) Exp,-0.028,-0.027,0.167,0.042,-0.044,0.007,-0.033,0.007,0.045,-0.056,...,-0.212,0.014,0.011,0.148,-0.045,0.032,0.048,-0.010,0.004,0.073
AP2S1 (1175) Exp,-0.024,-0.044,0.092,0.037,0.014,-0.020,-0.010,-0.064,0.040,-0.077,...,-0.164,-0.036,-0.015,0.110,-0.022,0.018,0.028,0.008,0.038,0.059
APMAP (57136) Exp,-0.022,-0.044,0.139,0.053,-0.048,-0.009,-0.037,0.009,0.078,-0.095,...,-0.123,-0.111,-0.041,0.096,-0.031,0.031,0.040,0.166,0.006,0.037
ARAP2 (116984) Exp,-0.104,-0.029,0.121,0.081,-0.152,0.067,-0.025,0.046,0.079,0.006,...,0.150,0.037,-0.176,-0.044,0.006,0.063,-0.035,0.213,-0.197,-0.037
ARCN1 (372) Exp,-0.073,0.026,0.084,-0.023,-0.118,-0.029,0.021,-0.066,-0.034,-0.096,...,-0.016,-0.041,-0.063,-0.101,-0.042,0.017,0.031,0.008,-0.044,0.108
ARHGAP31 (57514) Exp,-0.000,-0.021,0.045,-0.042,0.065,-0.066,-0.042,-0.074,-0.063,-0.072,...,-0.191,-0.041,0.101,0.025,-0.134,-0.011,0.016,-0.094,0.062,0.093
ARHGAP4 (393) Exp,-0.024,0.081,-0.100,-0.101,0.064,0.027,0.056,-0.013,-0.017,0.118,...,0.157,0.020,0.047,-0.108,0.062,-0.112,-0.040,-0.326,0.066,-0.018
ARHGDIB (397) Exp,-0.048,0.091,0.014,0.049,-0.097,0.021,-0.029,0.075,-0.019,0.026,...,0.229,-0.068,-0.037,-0.041,0.054,0.017,-0.130,0.035,-0.100,0.024
ARHGEF7 (8874) Exp,0.037,0.110,-0.082,-0.108,0.101,-0.006,0.026,-0.048,0.037,0.049,...,0.115,0.013,0.051,-0.095,0.005,-0.058,0.014,-0.179,0.068,-0.029
ARL14 (80117) Exp,-0.107,-0.151,0.233,0.193,-0.249,0.052,-0.001,0.128,0.088,-0.105,...,0.046,-0.037,-0.209,0.054,0.022,0.104,-0.019,0.441,-0.218,0.052
ARL15 (54622) Exp,-0.007,0.025,-0.037,-0.080,0.043,-0.028,0.014,-0.072,-0.073,-0.055,...,-0.117,0.028,-0.018,-0.125,-0.010,0.016,0.039,-0.049,0.083,-0.101

Value Range (Entire Dataset):  -0.326  to  0.441
Value Range (Diagonal):  -0.253  to  -0.101

In [ ]:
# To extract the diagonal values bigger than 0.1 and create a new dataset preserving the rows and columns with diagonal values bigger than 0.1
# Running correlation_table_diavalues_gt_0.1.sh extract from file correlation_table.csv 1.76 GB to produce correlation_table_diavalues_gt_0.csv 14 MB

import pandas as pd
import numpy as np

# Read the CSV file into a DataFrame
correlation_table_diavalues_gt_0 = pd.read_csv('/content/drive/MyDrive/Colab Notebooks/correlation_table_diavalues_gt_0.csv',index_col=0)

# Display the correlation_table_diavalues_gt_0 DataFrame
display(correlation_table_diavalues_gt_0)

# Calculate the value range for the entire dataset
entire_min = correlation_table_diavalues_gt_0.min().min()
entire_max = correlation_table_diavalues_gt_0.max().max()

# Calculate the diagonal values range
diagonal_values = correlation_table_diavalues_gt_0.values.diagonal()
diagonal_min = diagonal_values.min()
diagonal_max = diagonal_values.max()

# Display the value range for the entire dataset and the diagonal values range
print("Value Range (Entire Dataset): ", entire_min, " to ", entire_max)
print("Value Range (Diagonal): ", diagonal_min, " to ", diagonal_max)

,AAK1 (22848) Dep,ABCA4 (24) Dep,ABCB6 (10058) Dep,ABCD3 (5825) Dep,ABI2 (10152) Dep,ABLIM2 (84448) Dep,ACAD8 (27034) Dep,ACAP3 (116983) Dep,ACER3 (55331) Dep,ACO1 (48) Dep,...,ZNF704 (619279) Dep,ZNF763 (284390) Dep,ZNF786 (136051) Dep,ZNF814 (730051) Dep,ZNF850 (342892) Dep,ZNF862 (643641) Dep,ZNFX1 (57169) Dep,ZRANB2 (9406) Dep,ZYG11B (79699) Dep,ZYX (7791) Dep
DepMap_ID,,,,,,,,,,,,,,,,,,,,,
AAK1 (22848) Exp,0.120,0.099,0.046,0.119,0.004,-0.002,0.017,0.020,0.028,0.107,...,0.068,-0.044,-0.029,-0.026,0.039,-0.041,0.071,0.028,0.082,0.079
ABCA4 (24) Exp,0.151,0.178,-0.008,0.120,0.005,0.058,0.008,0.035,0.007,0.112,...,0.130,0.004,-0.027,0.037,0.021,-0.010,0.014,0.020,0.054,0.041
ABCB6 (10058) Exp,0.099,0.023,0.147,0.013,0.093,0.001,-0.011,0.020,-0.001,0.043,...,0.085,0.007,-0.007,0.057,0.051,0.024,-0.009,0.001,0.124,0.049
ABCD3 (5825) Exp,0.107,0.142,0.029,0.123,-0.025,0.004,-0.017,0.052,-0.013,0.093,...,0.087,-0.018,-0.002,0.005,0.033,-0.024,-0.039,0.012,0.049,0.010
ABI2 (10152) Exp,0.011,-0.026,0.074,0.032,0.129,0.041,0.096,0.039,0.001,0.091,...,-0.020,-0.023,0.032,0.108,0.088,0.008,-0.002,0.116,0.147,0.138
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
ZNF862 (643641) Exp,0.006,-0.087,0.043,-0.006,0.039,0.055,0.036,0.109,-0.020,0.030,...,0.104,-0.003,0.135,-0.019,0.050,0.171,0.081,-0.004,0.012,0.057
ZNFX1 (57169) Exp,0.129,0.197,0.009,0.155,-0.013,0.034,0.006,0.012,0.058,0.079,...,0.031,-0.063,-0.055,-0.061,0.067,-0.041,0.226,0.018,0.070,0.111
ZRANB2 (9406) Exp,-0.089,-0.089,0.018,-0.073,0.029,-0.061,0.027,0.033,-0.042,0.017,...,-0.009,-0.022,0.047,0.060,-0.002,-0.012,-0.017,0.113,-0.053,0.007
ZYG11B (79699) Exp,0.019,0.048,0.079,0.010,0.064,0.025,0.081,0.029,-0.003,0.066,...,0.048,-0.025,0.018,0.085,0.079,-0.032,-0.044,0.062,0.120,0.087
ZYX (7791) Exp,0.117,0.139,0.025,0.125,0.032,0.004,0.040,0.021,0.061,0.121,...,0.060,-0.010,-0.043,-0.005,0.093,-0.060,0.112,0.009,0.046,0.191

Value Range (Entire Dataset):  -0.567  to  0.617
Value Range (Diagonal):  0.101  to  0.615